@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    background-image:url(/assets/img/background1.jpg);
    background-size: cover;
    background-position-x: 50%;
}

.nav {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
    height: 50px;
    padding: 8px 30px;
    font-weight: 900;
    font-size: 24px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.nav-right-functions {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.searchbar {
    width: 250px;
    height: 35px;
}
.searchbtn {
    padding: 5px;
    width: 35px;
    height: 35px;
}
.form-inline {
    display: flex;
}
.btn-dark {
    background-color: black;
    border-radius: 50%;
}
.logo-nav {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,212,255,1);
    color: black;
}
.logo-nav:hover {
    color: white;
    text-shadow: 0 0 5px rgb(141, 236, 255);
}
.logo-nav img {
    width: 35px;
}
.nav-new-post {
    cursor: pointer;
    color: black;
    animation: clickMe 1200ms ease-in infinite;
}
@keyframes clickMe {
    0% {
        transform: scale(1.4);
        text-shadow: 0 0 5px rgba(141, 236, 255, 0);
    }
    50% {
        transform: scale(1.6);
        text-shadow: 0 0 5px rgba(141, 236, 255, .5)
    }
    100% {
        transform: scale(1.4);
        text-shadow: 0 0 5px rgba(141, 236, 255, 0);
    }
}
.nav-new-post:hover {
    color: white;
}
.intro {
    background: #eee;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #aaa;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    text-align: center;
}
.intro p {
    font-size: 24px;
}
.new-post-btn {
    border: 2px solid rgb(29, 76, 125);
    background: rgb(20, 101, 188);
    margin-top: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transition: 300ms;
    font-weight: bold;
    text-transform: uppercase;
}
.new-post-btn:hover {
    border: 2px solid rgb(29, 76, 125);
    background: rgb(20, 101, 188);
    transform: scale(1.05);
}

.post {
    background-color: rgb(187, 174, 255);
    margin-top: 30px;
    padding: 10px;
    transform: rotate(-.3deg);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 8px rgba(0,0,0,.8);
    transition: 250ms;
}

.post h4 {
    text-align: center;
    font-weight: bold;
}

.post-num {
    margin-top: 8px;
    font-size: 13px;
    font-weight: bold;
}

.title-container {
    background-color: rgba(0, 0, 0, .05);
    margin: -10px -10px 15px;
}
.title-container:hover {
    background-color: rgba(0, 0, 0, .1);
}
.title-container h4 {
    cursor: pointer;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    transition: 200ms;
}
.edit-btn:hover, .delete-btn:hover {
    background: none;
    color: rgb(20, 101, 188);
    border: none;
    transform: scale(1.2);
    
}
.read-btn {
    width: 140px;
    background-color: rgb(20, 101, 188);
    height: 25px;
    padding: 0;

}


/* Edit PopUp
..................................................*/
.pop-up {
    font-family: 'Lato', sans-serif;
    background: white;
    padding: 10px;
    height: 500px;
    width: 600px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,1);
}
.title-edit {
    text-align: center;
}
.title-more-info {
    text-align: center;
}

.edit-input-title {
    height: 30px;
}
.edit-input-author {
    height: 30px;
}
.edit-input-content {
    height: 250px;
}


/* More Info PopUp
..................................................*/

.more-info-container {
    font-family: 'Lato', sans-serif;
    background: white;
    padding: 10px;
    width: 600px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,1);
}

.close-more-info {
    margin-top: 10px;
}

.read-comments-btn {
    background: rgb(20, 101, 188);
}
.comments-box {
    max-height: 500px;
    overflow-y: scroll;
}


/* Media queries 
...........................................................*/

@media screen and (max-width: 600px) { 
    .pop-up, .more-info-container {
        width: 350px;
    }
    .comments-box {
        max-height: 350px;
        overflow-y: scroll;
    }
    .nav-right-functions {
        display: flex;
        width: 210px;
        height: 35px;
    }
    .searchbar {
        margin-top: 8px;
        width: 200px;
        height: 35px;
    }
    .nav-new-post {
        display: none;
    }
}