@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    background: #eee;
    width: 100%;
    height: 100%;
}

.nav {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
    height: 50px;
    padding: 5px 30px;
    font-weight: 900;
    font-size: 24px;
    box-shadow: 0 5px 10px rgba(2,0,36,.5);
}
.logo-nav {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,212,255,1);
    color: black;
}
.logo-nav:hover {
    color: white;
    text-shadow: 0 0 5px rgb(141, 236, 255);
}
.logo-nav img {
    width: 35px;
}

.intro {
    background: white;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 5px 10px rgba(2,0,36,.3);
    text-align: center;
}

.new-post-btn {
    background: rgb(20, 101, 188);
    margin-top: 15px;
    box-shadow: 0 5px 10px rgba(2,0,36,.3);
    transition: 300ms;
}
.new-post-btn:hover {
    background: rgb(20, 101, 188);
    transform: scale(1.05);
}

.post {
    background: white;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 5px 5px rgba(2,0,36,.3);
}

.post h4 {
    text-align: center;
}

.title-container {
    background-color: rgba(20, 101, 188, .1);
    border-radius: 8px 8px 0 0;
    margin: -10px -10px 15px;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    transition: 200ms;
}
.edit-btn:hover, .delete-btn:hover {
    background: none;
    color: rgb(20, 101, 188);
    border: none;
    transform: scale(1.2);
    
}

/* Edit PopUp
..................................................*/
.pop-up {
    font-family: 'Lato', sans-serif;
    background: white;
    padding: 10px;
    height: 500px;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(2,0,36,1);
}

.title-edit {
    text-align: center;
}